html{
  main{
    height: 100vh;
    .ui.segment .index-card{
      background-color: darkgrey;
      .card-text{
        text-align: center;
      }
    }
    #flipper{
      background-color: darkgrey;
      display: flex;
      justify-content: center;
      padding-top: 10%;
      margin-left: auto;
      margin-right: auto;
      height: 100vh;
    }
  }
}
