main{
  height: 100vh;
  #flipper{
    margin: auto;
    height: 100%;
  }
  .index-card{
    height: 90%;
    background-image: url('https://marketplace.canva.com/MABdzJjyLYc/1/thumbnail_large/canva-student-writing-paper-lined--MABdzJjyLYc.png');
  }
}
